<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsjnb.yd_ecommerce_platform_api.mapper.sys.MemberMapper">

    <select id="getMemberList" parameterType="string" resultType="memberDto">
        select * from yd_app_user where effective = '1'
        <if test="type == 'username'">
            and username like concat('%', #{value}, '%')
        </if>
        <if test="type == 'phone'">
            and phone like concat('%', #{value}, '%')
        </if>
        order by user_id
    </select>

    <select id="getMemberBalance" parameterType="integer" resultType="memberBalanceDto">
        select user_id,username,phone,now_money from yd_app_user where user_id = #{userId}
    </select>

    <select id="queryMemberBalance" parameterType="integer" resultType="java.math.BigDecimal">
        select now_money from yd_app_user where user_id = #{userId}
    </select>

    <update id="modifyMemberBalance">
        update yd_app_user set now_money = #{newMemberBalance} where user_id = #{userId}
    </update>

    <update id="setMemberStatus">
        update yd_app_user set enable = #{enable} where user_id = #{userId}
    </update>

</mapper>
