<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsjnb.yd_ecommerce_platform_api.mapper.app.AppUserMapper">

    <select id="getUserInfoByAccount" parameterType="string" resultType="appUser">
        select user_id, username, password, enable from yd_app_user where username = #{username} and effective = '1'
    </select>

    <insert id="register" parameterType="appUser">
        insert into yd_app_user (username, password, phone, user_image)
        values (#{user.username},#{user.password},#{user.phone},#{user.userImage})
    </insert>

    <select id="queryUserPhone" parameterType="string" resultType="integer">
        select count(1) from yd_app_user where phone = #{phone} and effective = '1'
    </select>

    <select id="getLoginUserInfo" parameterType="integer" resultType="appUser">
        select * from yd_app_user where effective = '1' and user_id = #{userId}
    </select>

    <update id="uploadAvatar" parameterType="appUser">
        update yd_app_user set user_image = #{user.userImage} where user_id = #{user.userId}
    </update>

    <select id="getPass" parameterType="integer" resultType="string">
        select password from yd_app_user where user_id = #{userId}
    </select>

    <update id="updatePass" parameterType="appUserPassDto">
        update yd_app_user set password = #{user.newPass} where user_id = #{user.userId}
    </update>

    <update id="saveUserInfo" parameterType="appUser">
        update yd_app_user set phone = #{user.phone},real_name = #{user.realName},card_id = #{user.cardId},address = #{user.address} where user_id = #{user.userId}
    </update>

    <select id="getUserByUserAndPhone" parameterType="appUser" resultType="appUser">
        select * from yd_app_user where effective = '1' and username = #{user.username} and phone = #{user.phone}
    </select>

    <update id="forgotPass" parameterType="appUser">
        update yd_app_user set password = #{user.password} where username = #{user.username} and phone = #{user.phone}
    </update>

</mapper>
